/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}

.container {
    width: 90%;
    margin: auto;
}

/* HEADER */

header {
    display: flex;
    justify-content: center;
}

h1 {
    display: inline;
    margin-top: 40px;
    font-size: 5em;
    white-space: nowrap;
    overflow: hidden;
    color: black;
    border-right: solid 2px black;
}

/* FORM */

#form-container {
    border: 3px solid black;
    width: 60%;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    position: relative;
    right: 5px
}

textarea {
    width: 100%;
    border: none;
    resize: none;
    height: 15vh;
    font-size: 1em;
    padding: 10px;
    border-radius: 10px;
}

input[type="button"], input[type="submit"] {
    margin: 0px 5px;
    padding: 5px;
    font-size: 1em;
}

#gif-form {
    background-color: grey;
    text-align: center;
    display: none;
    padding: 10px;
}

#gifImage {
    display: none;
}

#gif-form-btns {
    display: flex;
    margin: 10px;
}

#close-gif-section {
    position: relative;
    bottom: 30px;
    left: 75px;
}

/* TIMELINE */

#journal-timeline {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 10px;
}

/* POSTS */

#secondHalf {
    display: flex;
    width: 100%;
    justify-content: center;
}

.entry-box {
    padding: 2em;
    border: black solid 2px;
    border-radius: 10px;
    margin-bottom: 2em;
    flex: 1 1 auto;
    max-width: 400px;
    margin: 20px;
}

.entry-date {
    /* position: absolute; */
    float: right;
    padding: 1em;
}

.entry-box .time-text {
    margin-right: 1em;
}

.message-box {
    background-color: rgb(199, 199, 199);
    padding: 2em;
    margin: 1em;
    word-wrap: break-word;
    border-radius: 10px;
}

.gif-box img {
    width: 100%;
    height: auto;
    /* overflow: hidden; */
}

.comment-btn{
    background:rgb(32, 32, 32);
}
.comments-box {
    background-color: rgb(68, 68, 68);
    color: white;
    padding: 1em;
    width: 80%;
    margin-top: 1em;
}

.interaction-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.comment-input {
    flex-grow: 2;
    border: 2px solid rgb(32, 32, 32);
    background: whitesmoke;
    border-radius: 1000px;
    padding: 1em;
    margin-left: 1em;
    margin-right: 2em;
    outline: none;
}

button {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    color: inherit;
    border: none;
    padding: 1em;
    /* margin: 0.2em; */
    font: inherit;
    cursor: pointer;
    outline: none;
    text-align: center;
    margin: 5px;
}

.reactBtn1 {
    background-image: url('../assets/smile.png');
    background-size: cover;
}

.reactBtn2 {
    background-image: url('../assets/laugh.png');
    background-size: cover;
}

.reactBtn3 {
    background-image: url('../assets/virusEmoji.png');
    background-size: cover;
}

/* ANIMATIONS */

h1 {
    animation: animated-text 3s steps(29, end) 1s 1 normal both, animated-cursor 900ms steps(29, end) infinite;
}

@keyframes animated-text {
    from {
        width: 0;
    }
    to {
        width: 450px;
    }
}

@keyframes animated-cursor {
    from {
        border-right-color: black;
    }
    to {
        border-right-color: transparent;
    }
}