/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}

.container {
    width: 90%;
    margin: auto;
}

/* HEADER */

header {
    display: flex;
    justify-content: center;
}

h1 {
    display: inline;
    margin-top: 40px;
    font-size: 5em;
    white-space: nowrap;
    overflow: hidden;
    color: black;
    border-right: solid 2px black;
}

/* FORM */

form {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px auto;
}

#form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    position: relative;
    bottom: 40px;
    right: 5px
}

textarea {
    width: 100%;
    border: none;
    resize: none;
    border: 3px solid black;
    height: 25vh;
    font-size: 2em;
    padding: 10px;
    border-radius: 10px;
}

input[type="button"], input[type="submit"] {
    margin: 0px 5px;
    padding: 5px;
    font-size: 1em;
}


/* TIMELINE */
#journal-timeline {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

}


/* POSTS */
.entry-box {
    padding: 2em;
    border: black solid 2px;
    border-radius: 10px;
}

.message-box {
    background-color: rgb(199, 199, 199);
    padding: 2em;
}

.comments-box {
    background-color: rgb(68, 68, 68);
    color: white;
    padding: 1em;
    margin-left: 4em;
}

.comment-btn {

}
.react-btns {
    display: inline-block;
    justify-content: right;
}

button {
    width:50px;
    height: 50px;
    background: rgb(61, 61, 61);
    border-radius: 100%;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* ANIMATIONS */

h1 {
    animation: animated-text 3s steps(29, end) 1s 1 normal both, animated-cursor 900ms steps(29, end) infinite;
}

@keyframes animated-text {
    from {
        width: 0;
    }
    to {
        width: 450px;
    }
}

@keyframes animated-cursor {
    from {
        border-right-color: black;
    }
    to {
        border-right-color: transparent;
    }
}